/* Write your CSS here */
.team-matches-bg {
  min-height: 100vh;
  color: #ffffff;
  font-family: 'Bree serif';
  padding: 40px 20px 40px 20px;
  /* text-align: center;*/
  max-width: 100vw;
}
.latest-matches-heading {
  font-size: 22px;
}
.RCB {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.RR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.KKR {
  background-image: linear-gradient(to bottom, #0f172a, #1e293b);
}
.KXP {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.match-page-banner {
  width: 100%;
  box-sizing: border-box;
}
.match-cards-container {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team-matches-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
